default_stages: [commit, push]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
        exclude: ^{{ cookiecutter.repo_name }}/
      - id: end-of-file-fixer
        exclude: (LICENCE|_licences|.svg)

  - repo: local
    hooks:
      - id: ruff
        name: ruff-linter
        entry: poetry run ruff check
        exclude: ^{{ cookiecutter.repo_name }}/
        types: [python]
        language: system
