default_stages: [pre-commit, pre-push]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        name: Check YAML Syntax
        exclude: ^{{ cookiecutter.repo_name }}/
      - id: end-of-file-fixer
        name: Fix End-of-files
        exclude: (LICENCE|_licences|.svg)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-check
        name: Ruff Linter
        args: [--fix]
        exclude: ^{{ cookiecutter.repo_name }}/
      - id: ruff-format
        name: Ruff Formatter
        exclude: ^{{ cookiecutter.repo_name }}/
