---
# Settings for generating changelogs using the GitLab API. See
# https://docs.gitlab.com/ee/api/repositories.html#generate-changelog-data for
# more information.
categories:
  # 1. Changes that users directly face
  feature: ":milky_way: Components"
  features: ":milky_way: Components"
  expand: ":milky_way: Components"
  expansion: ":milky_way: Components"
  expansions: ":milky_way: Components"
  enhance: ":milky_way: Components"
  enhancement: ":milky_way: Components"
  enhancements: ":milky_way: Components"
  zero-config: ":milky_way: Components"
  zconf: ":milky_way: Components"

  template-config: ":metro: Template Internals"
  docker: ":metro: Template Internals"
  github: ":metro: Template Internals"
  gitlab: ":metro: Template Internals"
  ci-template: ":metro: Template Internals"
  inv-template: ":metro: Template Internals"
  invoke-template: ":metro: Template Internals"

  opt: ":ballot_box: Settings & Options"
  opts: ":ballot_box: Settings & Options"
  option: ":ballot_box: Settings & Options"
  options: ":ballot_box: Settings & Options"
  startup: ":ballot_box: Settings & Options"
  tool: ":ballot_box: Settings & Options"
  tools: ":ballot_box: Settings & Options"
  template-dep: ":ballot_box: Settings & Options"
  template-deps: ":ballot_box: Settings & Options"

  # 2. Changes that impact users, but are not directly visible
  bug: ":toolbox: Fixes"
  bugfix: ":toolbox: Fixes"
  fix: ":toolbox: Fixes"
  hotfix: ":toolbox: Fixes"
  patch: ":toolbox: Fixes"
  patches: ":toolbox: Fixes"
  patching: ":toolbox: Fixes"
  critical: ":toolbox: Fixes"

  refactor: ":factory_worker: Template Maintenance"
  refactors: ":factory_worker: Template Maintenance"
  refactoring: ":factory_worker: Template Maintenance"
  rework: ":factory_worker: Template Maintenance"
  reworks: ":factory_worker: Template Maintenance"
  reworking: ":factory_worker: Template Maintenance"
  maintenance: ":factory_worker: Template Maintenance"

  # 3. Changes that are irrelevant to users
  hook: ":gear: Project Internals"
  hooks: ":gear: Project Internals"
  project-config: ":gear: Project Internals"
  dev: ":gear: Project Internals"
  devx: ":gear: Project Internals"

  ci: ":airplane_departure: Release Cycle Optimisation"
  pre-commit: ":airplane_departure: Release Cycle Optimisation"
  renovate: ":airplane_departure: Release Cycle Optimisation"

  test: ":repeat: Design & Validation"
  tests: ":repeat: Design & Validation"
  testing: ":repeat: Design & Validation"
  cov: ":repeat: Design & Validation"
  coverage: ":repeat: Design & Validation"
  flag: ":repeat: Design & Validation"
  flags: ":repeat: Design & Validation"

  dependencies: ":arrow_up: Dependencies Updates"
  dep: ":arrow_up: Dependencies Updates"
  deps: ":arrow_up: Dependencies Updates"
  devdep: ":arrow_up: Dependencies Updates"
  devdeps: ":arrow_up: Dependencies Updates"

  nit: ":pouring_liquid: Nits"
  nits: ":pouring_liquid: Nits"
  typo: ":pouring_liquid: Nits"
  typos: ":pouring_liquid: Nits"
  jinja-fix: ":pouring_liquid: Nits"
  rendering: ":pouring_liquid: Nits"
  markdown: ":pouring_liquid: Nits"

  # 4. Knowledge Management
  documentation: ":books: Documentation"
  doc: ":books: Documentation"
  docs: ":books: Documentation"

  policy: ":scroll: Project Policies"
  policies: ":scroll: Project Policies"
  rule: ":scroll: Project Policies"
  rules: ":scroll: Project Policies"
  milestone: ":scroll: Project Policies"
  milestones: ":scroll: Project Policies"
  epic: ":scroll: Project Policies"
  epics: ":scroll: Project Policies"
  roadmap: ":scroll: Project Policies"
  template: ":scroll: Project Policies"
  templates: ":scroll: Project Policies"
  templating: ":scroll: Project Policies"
template: |
  {% if categories %}
  {% each categories %}
  ### {{ title }} ({% if single_change %}1 change{% else %}{{ count }} changes{% end %})

  {% each entries %}
  - [{{ title }}]({{ commit.reference }})\
  {% if author.credit %} by {{ author.reference }}{% end %}\
  {% if commit.trailers.MR %} ([merge request]({{ commit.trailers.MR }}))\
  {% else %}\
  {% if merge_request %} ([merge request]({{ merge_request.reference }}))\
  {% end %}\
  {% end %}

  {% end %}

  {% end %}
  {% else %}
  No changes detailed for this release.
  {% end %}
