/* UPDATEME by removing this file when no longer needed */
.title {
    margin: 1;
    width: 100%;
    text-align: center;
    color: $primary;
}

.description {
    width: 100%;
    text-align: center;
    color: $secondary;
}
